 
 


 


 
 


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
 
.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars--visible {
  background:#000 url(../../images/stars.jpg) repeat top center;
  z-index:1;
}

.twinkling--visible{
  background:transparent url(../../images/twinkling.png) repeat top center;
  z-index:2;
  -moz-animation:move-twink-back 400s linear infinite;
  -ms-animation:move-twink-back 400s linear infinite;
  -o-animation:move-twink-back 400s linear infinite;
  -webkit-animation:move-twink-back 400s linear infinite;
  animation:move-twink-back 400s linear infinite;
}

.clouds--visible{
  background:transparent url(../../images/clouds.png) repeat top center;
  z-index:3;
  -moz-animation:move-clouds-back 400s linear infinite;
  -ms-animation:move-clouds-back 400s linear infinite;
  -o-animation:move-clouds-back 400s linear infinite;
  -webkit-animation:move-clouds-back 400s linear infinite;
  animation:move-clouds-back 400s linear infinite;
}

main{
  z-index: 4;
}
 section{
   z-index: 5;
 }